<!DOCTYPE html>
<html lang="ru">
  <head>
    <link rel="stylesheet" href="style.css" />
    <title>errors</title>
  </head>
  <body>
    <h1 class="err">ERROR <% if(status){ %><%= status %> <% } %></h1>
    <h1><% if(error){ %><span> <%= error %></span> <% } %></h1>
    <% if(status == 404){ %>
    <img
      src="https://agentestudio.com/uploads/post/image/69/main_how_to_design_404_page.png"
    />
    <% } %>
  </body>
</html>
