<!DOCTYPE html>
<html lang="ru">
  <body style="color: red">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi eos, quasi
    dicta eius itaque mollitia ex, qui consectetur nostrum doloribus recusandae.
    Placeat ullam accusamus quidem dicta nobis distinctio alias dolores! Beatae
    voluptate nostrum error sed asperiores nobis ipsa magnam reprehenderit
    assumenda aut, architecto repellendus officiis. Provident tempora error
    quibusdam, laudantium accusamus, cum, natus optio fuga necessitatibus rerum
    veritatis! Repellendus, deserunt! Nostrum, aliquam illo eligendi aut
    delectus veniam quasi quidem doloremque expedita, porro provident temporibus
    repellat? Delectus eius iste non vel at quibusdam esse et illum enim, porro
    repellendus minus voluptate. Corporis natus odio error cum harum, voluptas
    perferendis. Corporis incidunt minus inventore praesentium, debitis qui
    cumque quisquam amet quaerat necessitatibus eos voluptate, quod laboriosam
    hic sapiente. Quas provident tempora consectetur. Incidunt dolorem quas
    fugit iure necessitatibus eius minus obcaecati dicta alias autem quisquam
    cum, ut adipisci vero animi doloribus voluptatum pariatur reprehenderit
    vitae et tempora iste quae. Maiores, doloribus harum. Saepe labore dolorem
    accusamus nesciunt quam culpa error veniam, esse magni asperiores quis nam
    ullam perspiciatis beatae ut eveniet perferendis odio. Mollitia nostrum,
    tenetur quod cupiditate ipsum possimus. Corporis, quia. Adipisci aspernatur
    ad nesciunt molestias, corporis similique asperiores id consectetur
    voluptas, enim velit possimus magni ducimus temporibus autem, obcaecati iste
    totam nemo earum quibusdam! Error fugit repellendus reprehenderit aliquid
    nesciunt? Eos voluptatibus dolorum delectus dolores id repellendus, suscipit
    incidunt! Distinctio, dolor. Voluptatem, hic veniam. Eum commodi soluta
    nesciunt natus? Vel impedit quasi nostrum voluptatibus. Consequuntur,
    officiis nemo. Accusamus, laudantium molestiae? Repellat corrupti culpa
    architecto facilis dolor quaerat tenetur, debitis adipisci perferendis
    impedit veniam doloribus quidem officiis porro delectus eveniet! Inventore
    error ab aspernatur ducimus et rem maxime ut alias sequi! Culpa iure veniam
    eos magni tenetur reiciendis fuga debitis illo nobis voluptates vitae
    aliquam ex quos illum nulla officiis accusantium similique quam, aliquid
    corporis ipsam exercitationem voluptatum! Dolor, est suscipit.
  </body>
</html>
